<div class="footer-containter">
    <hr>
    <img src="../../assets/002-facebook-logo.png" alt="fb">
    <img src="../../assets/003-twitter.png" alt="twt">
    <img src="../../assets/004-instagram.png" alt="ig">
    <ul>
        <li>About</li>
        <li>For Business</li>
        <li>Suggestions</li>
        <li>Help & FAQs</li>
        <li>Contacts</li>
        <li>Pricing</li>
    </ul>
    <p>&copy; Copyright 2022 Isfan Bimantara</p>
    <ul class="ul">
        <li>Privacy</li>
        <li>Terms</li>
    </ul>
</div>
