<div class="mp-side-channels">
    <div class="mp-title">
        <h2>Channels</h2>
        <h5>Browse all channels</h5>
    </div>
    <br>
    <hr>
    <br>
    <div class="mp-content">
        <p class="content">Google</p>
        <p class="content">Microsoft</p>
        <p class="content">Weather Channel</p>
        <p class="content">iMedia</p>
        <p class="content">Khan Studios</p>
        <p class="content">Dribble</p>
        <p class="content">Behance</p>
        <p class="content">Gurus</p>
        <p class="content">Creativeye</p>
        <p class="content">Yahoo</p>
    </div>
</div>
